.fluent .e-samplestatus.new.tree,
.fluent .e-samplestatus.update.tree,
.fluent .e-samplestatus.preview.tree {
    margin: 6px 0;
    height: 22px;
    margin-top: 7px;
}

.fluent .e-samplestatus.new,
.fluent .e-samplestatus.preview {
    margin-top: 1px;
}

.fluent .e-samplestatus.update {
    margin-top: 0px;
}

.fluent.e-bigger .e-samplestatus.new,
.fluent.e-bigger .e-samplestatus.update,
.fluent.e-bigger .e-samplestatus.preview {
    margin-top: 4px;
}

.fluent.e-bigger .sb-mobile-setting {
    line-height: 22px;
}

.fluent .sb-plnr-section {
    line-height: 30px;
    height: 40px;
}

.fluent .sb-open-new-wrapper,
.fluent .sample-navigation {
    line-height: 43px;
}

.fluent .e-samplestatus.new.tree,
.fluent .e-samplestatus.update.tree,
.fluent .e-samplestatus.preview.tree {
    margin: 6px 0;
    height: 22px;
    margin-top: 7px;
}

.fluent .sb-content-tab>.e-tab>.e-tab-header>.e-items>.e-toolbar-item:not(.e-separator) {
    height: 35px;
    margin: 0px 8px 0 0;
    min-height: 35px;
}

.fluent .sb-content-tab>.e-tab>.e-tab-header>.e-toolbar-items,
.fluent .sb-content-tab>.e-tab>.e-tab-header {
    min-height: 35px;
    height: 35px;
}


.fluent .e-bigger .sb-content-tab .e-tab .e-tab-header .e-toolbar-items {
    min-height: 35px;
    height: 35px;
}

.fluent .e-bigger .sb-content-tab .e-tab .e-tab-header {
    min-height: 36px;
    height: 36px;
}

.fluent.e-bigger .sb-open-new-wrapper {
    line-height: 26px !important;
}

.fluent.e-bigger .sb-toolbar-splitter {
    height: 26px;
    margin-top: 0px !important;
}

.fluent.e-bigger .sample-navigation {
    line-height: 24px;
}

.fluent.e-bigger .sb-content-tab .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) {
    height: 35px;
    min-height: 35px;
}

.fluent.e-bigger .sb-content-tab>.e-tab>.e-tab-header>.e-items.e-toolbar-items>.e-indicator {
    display: none !important;
}

.fluent .sb-reset-icon:before {
    content: '\e7e7';
}

.fluent .copycode::before {
    content: '\e77c';
    font-size: 25px;
}

.fluent .e-items.e-toolbar-items {
    min-height: 45px;
}

.fluent .sb-content-tab>.e-tab>.e-tab-header>.e-items.e-toolbar-items>.e-indicator {
    display: none !important;
}

.fluent .e-samplestatus.new.tree,
.e-samplestatus.update.tree,
.e-samplestatus.preview.tree {
    margin: 8px 0;
    height: 22px;
    margin-top: 7px;
}
