@font-face {
font-family: 'Fusion Diagram Builder';
src:
url('Fonts/Fusion Diagram Builder.ttf') format('truetype'),
url('Fonts/Fusion Diagram Builder.woff') format('woff'),
url('Fonts/Fusion Diagram Builder.eot') format('eot'),
url('Fonts/Fusion Diagram Builder.svg?#Fusion Diagram Builder') format('svg');
font-weight: normal;
font-style: normal;
}

[class^="sf-icon-"], [class*=" sf-icon-"] {
 font-family: 'Fusion Diagram Builder' !important;
speak: none;
font-size: 55px;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.sf-icon-align-left-1:before { content: "\e8bc"; }
.sf-icon-align-center-1:before { content: "\e8bd"; }
.sf-icon-align-right-1:before { content: "\e8be"; }
.sf-icon-align-top-1:before { content: "\e8bf"; }
.sf-icon-align-middle-1:before { content: "\e8c0"; }
.sf-icon-align-bottom-1:before { content: "\e8c1"; }
.sf-icon-distribute-vertical:before { content: "\e8c2"; }
.sf-icon-distribute-horizontal:before { content: "\e8c3"; }
.sf-icon-elipse:before { content: "\e8c4"; }
.sf-icon-line-1:before { content: "\e8c5"; }
.sf-icon-orthogonal:before { content: "\e8c6"; }
.sf-icon-bezier:before { content: "\e8c7"; }
.sf-icon-same-width:before { content: "\e8c8"; }
.sf-icon-same-height:before { content: "\e8c9"; }
.sf-icon-same-size:before { content: "\e8ca"; }
